# Preparation

## Import Library and Data

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

In [ ]:
tourism_rating = pd.read_csv('tourism_rating.csv')
tourism_with_id = pd.read_csv('tourism_with_idd.csv')

## Preprocessing

In [ ]:
tourism_with_id.head()

,id_attraction,id_city,name_attraction,price_attraction,desc_attraction,photo_attraction,coordinate_attraction,rating_avg_attraction,open_hour,close_hour,id_attraction_cat
0,1,216,Monumen Nasional,20000,Monumen Nasional atau yang populer disingkat d...,NaN,"{'lat': -6.1753924, 'lng': 106.8271528}",4.6,8:00,17:00,1
1,2,213,Kota Tua,0,"Kota tua di Jakarta, yang juga bernama Kota Tu...",NaN,"{'lat': -6.137644799999999, 'lng': 106.8171245}",4.6,8:00,17:00,1
2,3,212,Dunia Fantasi,270000,Dunia Fantasi atau disebut juga Dufan adalah t...,NaN,"{'lat': -6.125312399999999, 'lng': 106.8335377}",4.6,8:00,17:00,2
3,4,214,Taman Mini Indonesia Indah (TMII),10000,Taman Mini Indonesia Indah merupakan suatu kaw...,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",4.5,8:00,17:00,2
4,5,212,Atlantis Water Adventure,94000,Atlantis Water Adventure atau dikenal dengan A...,NaN,"{'lat': -6.12419, 'lng': 106.839134}",4.5,8:00,17:00,2

In [ ]:
tourism_with_id.isna().sum()

id_attraction              0
id_city                    0
name_attraction            0
price_attraction           0
desc_attraction            0
photo_attraction         437
coordinate_attraction      0
rating_avg_attraction      0
open_hour                  0
close_hour                 0
id_attraction_cat          0
dtype: int64

In [ ]:
tourism_with_id.drop(['rating_avg_attraction'],axis=1,inplace=True)
tourism_with_id

,id_attraction,id_city,name_attraction,price_attraction,desc_attraction,photo_attraction,coordinate_attraction,open_hour,close_hour,id_attraction_cat
0,1,216,Monumen Nasional,20000,Monumen Nasional atau yang populer disingkat d...,NaN,"{'lat': -6.1753924, 'lng': 106.8271528}",8:00,17:00,1
1,2,213,Kota Tua,0,"Kota tua di Jakarta, yang juga bernama Kota Tu...",NaN,"{'lat': -6.137644799999999, 'lng': 106.8171245}",8:00,17:00,1
2,3,212,Dunia Fantasi,270000,Dunia Fantasi atau disebut juga Dufan adalah t...,NaN,"{'lat': -6.125312399999999, 'lng': 106.8335377}",8:00,17:00,2
3,4,214,Taman Mini Indonesia Indah (TMII),10000,Taman Mini Indonesia Indah merupakan suatu kaw...,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",8:00,17:00,2
4,5,212,Atlantis Water Adventure,94000,Atlantis Water Adventure atau dikenal dengan A...,NaN,"{'lat': -6.12419, 'lng': 106.839134}",8:00,17:00,2
...,...,...,...,...,...,...,...,...,...,...
432,433,281,Museum Mpu Tantular,2000,Museum Negeri Mpu Tantular adalah sebuah museu...,NaN,"{'lat': -7.4338593, 'lng': 112.7199058}",8:00,17:00,1
433,434,281,Taman Bungkul,0,Taman Bungkul adalah taman wisata kota yang te...,NaN,"{'lat': -7.291346799999999, 'lng': 112.7398218}",8:00,17:00,2
434,435,281,Taman Air Mancur Menari Kenjeran,0,Air mancur menari atau dancing fountain juga a...,NaN,"{'lat': -7.2752955, 'lng': 112.7549381}",8:00,17:00,2
435,436,281,Taman Flora Bratang Surabaya,0,Taman Flora adalah salah satu taman kota di Su...,NaN,"{'lat': -7.294330299999999, 'lng': 112.7617534}",8:00,17:00,2
436,437,281,Gereja Perawan Maria Tak Berdosa Surabaya,10000,Gereja Katolik Kelahiran Santa Perawan Maria m...,NaN,"{'lat': -7.2420758, 'lng': 112.7368158}",8:00,17:00,6

## Modeling

In [ ]:
user_ids = tourism_rating['id_user'].unique().tolist()
print('UserID list:', user_ids)

# Encode user IDs
user_to_user_encoded = {x: i for i, x in enumerate(user_ids)}
print('Encoded UserID:', user_to_user_encoded)

# Decoding encoded user IDs
user_encoded_to_user = {i: x for i, x in enumerate(user_ids)}
print('Decoded encoded User IDs:', user_encoded_to_user)

UserID list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300]
Encoded UserID: {1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9, 11: 10, 12: 11, 13: 12, 14: 13, 15: 14, 16: 15, 17: 16, 18: 17, 19: 18, 20: 19, 21: 20, 22: 21, 23: 22, 24: 23, 25: 24, 26: 25, 27: 26, 28: 27, 29: 28, 30: 29, 31: 30, 32: 31, 33: 32, 34: 33, 35: 34, 36: 35, 37: 36, 38: 37, 39: 38, 40: 39, 41: 40, 42: 41, 43: 42, 44: 43, 45: 44, 46: 45, 47: 46, 48: 47, 49: 48, 50: 49, 51: 50, 52: 51, 53: 52, 54: 53, 55: 54, 56: 55, 57: 56, 58: 57, 59: 58, 60: 59, 61: 60, 62: 61, 63: 62, 64: 63, 65: 64, 66: 65, 67: 66, 68: 67, 69: 68, 70: 69, 71: 70, 72: 71, 73: 72, 74: 73, 75: 74, 76: 75, 77: 76, 78: 77, 79: 78, 80: 79, 81: 80, 82: 81, 83: 82, 84: 83, 85: 84, 86: 85, 87: 86, 88: 87, 89: 88, 90: 89, 91: 90, 92: 91, 93: 92, 94: 93, 95: 94, 96: 95, 97: 96, 98: 97, 99: 98, 100: 99, 101: 100, 102: 101, 103: 102, 104: 103, 105: 104, 106: 105, 107: 106, 108: 107, 109: 108, 110: 109, 111: 110, 112: 111, 113: 112, 114: 113, 115: 114, 116: 115, 117: 116, 118: 117, 119: 118, 120: 119, 121: 120, 122: 121, 123: 122, 124: 123, 125: 124, 126: 125, 127: 126, 128: 127, 129: 128, 130: 129, 131: 130, 132: 131, 133: 132, 134: 133, 135: 134, 136: 135, 137: 136, 138: 137, 139: 138, 140: 139, 141: 140, 142: 141, 143: 142, 144: 143, 145: 144, 146: 145, 147: 146, 148: 147, 149: 148, 150: 149, 151: 150, 152: 151, 153: 152, 154: 153, 155: 154, 156: 155, 157: 156, 158: 157, 159: 158, 160: 159, 161: 160, 162: 161, 163: 162, 164: 163, 165: 164, 166: 165, 167: 166, 168: 167, 169: 168, 170: 169, 171: 170, 172: 171, 173: 172, 174: 173, 175: 174, 176: 175, 177: 176, 178: 177, 179: 178, 180: 179, 181: 180, 182: 181, 183: 182, 184: 183, 185: 184, 186: 185, 187: 186, 188: 187, 189: 188, 190: 189, 191: 190, 192: 191, 193: 192, 194: 193, 195: 194, 196: 195, 197: 196, 198: 197, 199: 198, 200: 199, 201: 200, 202: 201, 203: 202, 204: 203, 205: 204, 206: 205, 207: 206, 208: 207, 209: 208, 210: 209, 211: 210, 212: 211, 213: 212, 214: 213, 215: 214, 216: 215, 217: 216, 218: 217, 219: 218, 220: 219, 221: 220, 222: 221, 223: 222, 224: 223, 225: 224, 226: 225, 227: 226, 228: 227, 229: 228, 230: 229, 231: 230, 232: 231, 233: 232, 234: 233, 235: 234, 236: 235, 237: 236, 238: 237, 239: 238, 240: 239, 241: 240, 242: 241, 243: 242, 244: 243, 245: 244, 246: 245, 247: 246, 248: 247, 249: 248, 250: 249, 251: 250, 252: 251, 253: 252, 254: 253, 255: 254, 256: 255, 257: 256, 258: 257, 259: 258, 260: 259, 261: 260, 262: 261, 263: 262, 264: 263, 265: 264, 266: 265, 267: 266, 268: 267, 269: 268, 270: 269, 271: 270, 272: 271, 273: 272, 274: 273, 275: 274, 276: 275, 277: 276, 278: 277, 279: 278, 280: 279, 281: 280, 282: 281, 283: 282, 284: 283, 285: 284, 286: 285, 287: 286, 288: 287, 289: 288, 290: 289, 291: 290, 292: 291, 293: 292, 294: 293, 295: 294, 296: 295, 297: 296, 298: 297, 299: 298, 300: 299}
Decoded encoded User IDs: {0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11, 11: 12, 12: 13, 13: 14, 14: 15, 15: 16, 16: 17, 17: 18, 18: 19, 19: 20, 20: 21, 21: 22, 22: 23, 23: 24, 24: 25, 25: 26, 26: 27, 27: 28, 28: 29, 29: 30, 30: 31, 31: 32, 32: 33, 33: 34, 34: 35, 35: 36, 36: 37, 37: 38, 38: 39, 39: 40, 40: 41, 41: 42, 42: 43, 43: 44, 44: 45, 45: 46, 46: 47, 47: 48, 48: 49, 49: 50, 50: 51, 51: 52, 52: 53, 53: 54, 54: 55, 55: 56, 56: 57, 57: 58, 58: 59, 59: 60, 60: 61, 61: 62, 62: 63, 63: 64, 64: 65, 65: 66, 66: 67, 67: 68, 68: 69, 69: 70, 70: 71, 71: 72, 72: 73, 73: 74, 74: 75, 75: 76, 76: 77, 77: 78, 78: 79, 79: 80, 80: 81, 81: 82, 82: 83, 83: 84, 84: 85, 85: 86, 86: 87, 87: 88, 88: 89, 89: 90, 90: 91, 91: 92, 92: 93, 93: 94, 94: 95, 95: 96, 96: 97, 97: 98, 98: 99, 99: 100, 100: 101, 101: 102, 102: 103, 103: 104, 104: 105, 105: 106, 106: 107, 107: 108, 108: 109, 109: 110, 110: 111, 111: 112, 112: 113, 113: 114, 114: 115, 115: 116, 116: 117, 117: 118, 118: 119, 119: 120, 120: 121, 121: 122, 122: 123, 123: 124, 124: 125, 125: 126, 126: 127, 127: 128, 128: 129, 129: 130, 130: 131, 131: 132, 132: 133, 133: 134, 134: 135, 135: 136, 136: 137, 137: 138, 138: 139, 139: 140, 140: 141, 141: 142, 142: 143, 143: 144, 144: 145, 145: 146, 146: 147, 147: 148, 148: 149, 149: 150, 150: 151, 151: 152, 152: 153, 153: 154, 154: 155, 155: 156, 156: 157, 157: 158, 158: 159, 159: 160, 160: 161, 161: 162, 162: 163, 163: 164, 164: 165, 165: 166, 166: 167, 167: 168, 168: 169, 169: 170, 170: 171, 171: 172, 172: 173, 173: 174, 174: 175, 175: 176, 176: 177, 177: 178, 178: 179, 179: 180, 180: 181, 181: 182, 182: 183, 183: 184, 184: 185, 185: 186, 186: 187, 187: 188, 188: 189, 189: 190, 190: 191, 191: 192, 192: 193, 193: 194, 194: 195, 195: 196, 196: 197, 197: 198, 198: 199, 199: 200, 200: 201, 201: 202, 202: 203, 203: 204, 204: 205, 205: 206, 206: 207, 207: 208, 208: 209, 209: 210, 210: 211, 211: 212, 212: 213, 213: 214, 214: 215, 215: 216, 216: 217, 217: 218, 218: 219, 219: 220, 220: 221, 221: 222, 222: 223, 223: 224, 224: 225, 225: 226, 226: 227, 227: 228, 228: 229, 229: 230, 230: 231, 231: 232, 232: 233, 233: 234, 234: 235, 235: 236, 236: 237, 237: 238, 238: 239, 239: 240, 240: 241, 241: 242, 242: 243, 243: 244, 244: 245, 245: 246, 246: 247, 247: 248, 248: 249, 249: 250, 250: 251, 251: 252, 252: 253, 253: 254, 254: 255, 255: 256, 256: 257, 257: 258, 258: 259, 259: 260, 260: 261, 261: 262, 262: 263, 263: 264, 264: 265, 265: 266, 266: 267, 267: 268, 268: 269, 269: 270, 270: 271, 271: 272, 272: 273, 273: 274, 274: 275, 275: 276, 276: 277, 277: 278, 278: 279, 279: 280, 280: 281, 281: 282, 282: 283, 283: 284, 284: 285, 285: 286, 286: 287, 287: 288, 288: 289, 289: 290, 290: 291, 291: 292, 292: 293, 293: 294, 294: 295, 295: 296, 296: 297, 297: 298, 298: 299, 299: 300}

In [ ]:
# Convert placeID to a list without duplicate values
place_ids = tourism_rating['id_attraction'].unique().tolist()
 
# Encoding placeID
place_to_place_encoded = {x: i for i, x in enumerate(place_ids)}
 
# Decoding encoded values to placeID
place_encoded_to_place = {i: x for i, x in enumerate(place_ids)}

In [ ]:
# Mapping userID to the user dataframe
tourism_rating['id_user'] = tourism_rating['id_user'].map(user_to_user_encoded)
 
# Mapping placeID to the place dataframe
tourism_rating['id_attraction'] = tourism_rating['id_attraction'].map(place_to_place_encoded)

In [ ]:
# Getting the number of users
num_users = len(user_to_user_encoded)
print(num_users)
 
# Getting the number of places
num_place = len(place_encoded_to_place)
print(num_place)
 
# Converting the rating to float values
tourism_rating['rating'] = tourism_rating['rating'].values.astype(np.float32)
 
# Minimum rating value
min_rating = min(tourism_rating['rating'])
 
# Maximum rating value
max_rating = max(tourism_rating['rating'])
 
print('Number of User: {}, Number of place: {}, Min Rating: {}, Max Rating: {}'.format(
    num_users, num_place, min_rating, max_rating
))

300
437
Number of User: 300, Number of place: 437, Min Rating: 1.0, Max Rating: 5.0

In [ ]:
collab_filtering = tourism_rating.sample(frac=1, random_state=42)
collab_filtering

      id_user  id_attraction  rating
6252      187            262     3.0
4684      141             83     2.0
1731       53             10     3.0
4742      143            141     3.0
4521      137            283     5.0
...       ...            ...     ...
5734      172            175     5.0
5191      156             33     4.0
5390      162             52     3.0
860        27            187     4.0
7270      218              6     2.0

[10000 rows x 3 columns]

In [ ]:
x = collab_filtering[['id_user', 'id_attraction']].values
 
# Creating the variable y to represent the ratings
y = collab_filtering['rating'].apply(lambda x: (x - min_rating) / (max_rating - min_rating)).values
 
# Splitting the data into 80% for training and 20% for validation
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.2, random_state=42)

print("Training data:")
print(x_train, y_train)
print("Validation data:")
print(x_val, y_val)

Training data:
[[118 288]
 [110 413]
 [169 215]
 ...
 [187 325]
 [273 272]
 [ 70 396]] [0.75 0.25 0.   ... 0.5  0.75 0.25]
Validation data:
[[216 212]
 [248 115]
 [139  75]
 ...
 [ 51  53]
 [ 82 330]
 [ 95 299]] [1.   0.   0.   ... 0.75 0.   0.5 ]

In [ ]:
class RecommenderNet(tf.keras.Model):
 
  # Function Initialization
  def __init__(self, num_users, num_place, embedding_size, **kwargs):
    super(RecommenderNet, self).__init__(**kwargs)
    self.num_users = num_users
    self.num_place = num_place
    self.embedding_size = embedding_size
    self.user_embedding = layers.Embedding( # layer embedding user
        num_users,
        embedding_size,
        embeddings_initializer = 'he_normal',
        embeddings_regularizer = keras.regularizers.l2(1e-6)
    )
    self.user_bias = layers.Embedding(num_users, 1) # layer embedding user bias
    self.place_embedding = layers.Embedding( # layer embeddings place
        num_place,
        embedding_size,
        embeddings_initializer = 'he_normal',
        embeddings_regularizer = keras.regularizers.l2(1e-6)
    )
    self.place_bias = layers.Embedding(num_place, 1) # layer embedding place bias
 
  def call(self, inputs):
    user_vector = self.user_embedding(inputs[:, 0]) # calling embedding layer 1
    user_bias = self.user_bias(inputs[:, 0]) # calling embedding layer 2
    place_vector = self.place_embedding(inputs[:, 1]) # calling embedding layer 3
    place_bias = self.place_bias(inputs[:, 1]) # calling embedding layer 4

    dot_user_place = tf.tensordot(user_vector, place_vector, 2)

    x = dot_user_place + user_bias + place_bias

    return tf.nn.sigmoid(x) # sigmoid activation

In [ ]:
 # Model Initialization
model = RecommenderNet(num_users, num_place, 50)
 
# Model Compile
model.compile(
    loss=tf.keras.losses.BinaryCrossentropy(),
    optimizer=keras.optimizers.Adagrad(learning_rate=0.05),
    metrics=[tf.keras.metrics.RootMeanSquaredError()]
)

In [ ]:
history = model.fit(
    x = x_train,
    y = y_train,
    batch_size = 8,
    epochs = 100,
    validation_data = (x_val, y_val)
)

Epoch 1/100
1000/1000 [==============================] - 4s 4ms/step - loss: 0.6944 - root_mean_squared_error: 0.3460 - val_loss: 0.6939 - val_root_mean_squared_error: 0.3462
Epoch 2/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6896 - root_mean_squared_error: 0.3426 - val_loss: 0.6938 - val_root_mean_squared_error: 0.3461
Epoch 3/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6854 - root_mean_squared_error: 0.3395 - val_loss: 0.6939 - val_root_mean_squared_error: 0.3462
Epoch 4/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6815 - root_mean_squared_error: 0.3366 - val_loss: 0.6941 - val_root_mean_squared_error: 0.3463
Epoch 5/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6793 - root_mean_squared_error: 0.3350 - val_loss: 0.6946 - val_root_mean_squared_error: 0.3467
Epoch 6/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6760 - root_mean_squared_error: 0.3326 - val_loss: 0.6952 - val_root_mean_squared_error: 0.3471
Epoch 7/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6744 - root_mean_squared_error: 0.3314 - val_loss: 0.6957 - val_root_mean_squared_error: 0.3474
Epoch 8/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6715 - root_mean_squared_error: 0.3293 - val_loss: 0.6960 - val_root_mean_squared_error: 0.3477
Epoch 9/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6700 - root_mean_squared_error: 0.3281 - val_loss: 0.6964 - val_root_mean_squared_error: 0.3480
Epoch 10/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6695 - root_mean_squared_error: 0.3278 - val_loss: 0.6969 - val_root_mean_squared_error: 0.3483
Epoch 11/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6685 - root_mean_squared_error: 0.3271 - val_loss: 0.6974 - val_root_mean_squared_error: 0.3486
Epoch 12/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6673 - root_mean_squared_error: 0.3261 - val_loss: 0.6980 - val_root_mean_squared_error: 0.3490
Epoch 13/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6653 - root_mean_squared_error: 0.3246 - val_loss: 0.6983 - val_root_mean_squared_error: 0.3493
Epoch 14/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6640 - root_mean_squared_error: 0.3237 - val_loss: 0.6987 - val_root_mean_squared_error: 0.3495
Epoch 15/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6623 - root_mean_squared_error: 0.3224 - val_loss: 0.6991 - val_root_mean_squared_error: 0.3498
Epoch 16/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6607 - root_mean_squared_error: 0.3212 - val_loss: 0.6997 - val_root_mean_squared_error: 0.3502
Epoch 17/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6617 - root_mean_squared_error: 0.3220 - val_loss: 0.7004 - val_root_mean_squared_error: 0.3507
Epoch 18/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6599 - root_mean_squared_error: 0.3207 - val_loss: 0.7010 - val_root_mean_squared_error: 0.3511
Epoch 19/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6591 - root_mean_squared_error: 0.3201 - val_loss: 0.7014 - val_root_mean_squared_error: 0.3514
Epoch 20/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6570 - root_mean_squared_error: 0.3185 - val_loss: 0.7018 - val_root_mean_squared_error: 0.3517
Epoch 21/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6571 - root_mean_squared_error: 0.3186 - val_loss: 0.7024 - val_root_mean_squared_error: 0.3521
Epoch 22/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6566 - root_mean_squared_error: 0.3182 - val_loss: 0.7029 - val_root_mean_squared_error: 0.3523
Epoch 23/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6561 - root_mean_squared_error: 0.3178 - val_loss: 0.7034 - val_root_mean_squared_error: 0.3527
Epoch 24/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6552 - root_mean_squared_error: 0.3172 - val_loss: 0.7038 - val_root_mean_squared_error: 0.3530
Epoch 25/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6550 - root_mean_squared_error: 0.3170 - val_loss: 0.7041 - val_root_mean_squared_error: 0.3532
Epoch 26/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6537 - root_mean_squared_error: 0.3161 - val_loss: 0.7046 - val_root_mean_squared_error: 0.3535
Epoch 27/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6525 - root_mean_squared_error: 0.3151 - val_loss: 0.7051 - val_root_mean_squared_error: 0.3538
Epoch 28/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6529 - root_mean_squared_error: 0.3155 - val_loss: 0.7056 - val_root_mean_squared_error: 0.3541
Epoch 29/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6526 - root_mean_squared_error: 0.3152 - val_loss: 0.7063 - val_root_mean_squared_error: 0.3546
Epoch 30/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6504 - root_mean_squared_error: 0.3137 - val_loss: 0.7068 - val_root_mean_squared_error: 0.3549
Epoch 31/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6525 - root_mean_squared_error: 0.3152 - val_loss: 0.7072 - val_root_mean_squared_error: 0.3552
Epoch 32/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6484 - root_mean_squared_error: 0.3121 - val_loss: 0.7075 - val_root_mean_squared_error: 0.3553
Epoch 33/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6506 - root_mean_squared_error: 0.3137 - val_loss: 0.7078 - val_root_mean_squared_error: 0.3555
Epoch 34/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6476 - root_mean_squared_error: 0.3115 - val_loss: 0.7084 - val_root_mean_squared_error: 0.3559
Epoch 35/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6483 - root_mean_squared_error: 0.3121 - val_loss: 0.7087 - val_root_mean_squared_error: 0.3561
Epoch 36/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6491 - root_mean_squared_error: 0.3127 - val_loss: 0.7092 - val_root_mean_squared_error: 0.3564
Epoch 37/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6483 - root_mean_squared_error: 0.3121 - val_loss: 0.7094 - val_root_mean_squared_error: 0.3565
Epoch 38/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6455 - root_mean_squared_error: 0.3099 - val_loss: 0.7097 - val_root_mean_squared_error: 0.3568
Epoch 39/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6453 - root_mean_squared_error: 0.3098 - val_loss: 0.7103 - val_root_mean_squared_error: 0.3571
Epoch 40/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6471 - root_mean_squared_error: 0.3111 - val_loss: 0.7106 - val_root_mean_squared_error: 0.3573
Epoch 41/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6480 - root_mean_squared_error: 0.3118 - val_loss: 0.7110 - val_root_mean_squared_error: 0.3576
Epoch 42/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6475 - root_mean_squared_error: 0.3115 - val_loss: 0.7114 - val_root_mean_squared_error: 0.3578
Epoch 43/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6455 - root_mean_squared_error: 0.3100 - val_loss: 0.7118 - val_root_mean_squared_error: 0.3580
Epoch 44/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6453 - root_mean_squared_error: 0.3098 - val_loss: 0.7120 - val_root_mean_squared_error: 0.3581
Epoch 45/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6446 - root_mean_squared_error: 0.3094 - val_loss: 0.7125 - val_root_mean_squared_error: 0.3585
Epoch 46/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6459 - root_mean_squared_error: 0.3103 - val_loss: 0.7130 - val_root_mean_squared_error: 0.3588
Epoch 47/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6444 - root_mean_squared_error: 0.3092 - val_loss: 0.7133 - val_root_mean_squared_error: 0.3590
Epoch 48/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6460 - root_mean_squared_error: 0.3103 - val_loss: 0.7137 - val_root_mean_squared_error: 0.3592
Epoch 49/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6459 - root_mean_squared_error: 0.3103 - val_loss: 0.7141 - val_root_mean_squared_error: 0.3594
Epoch 50/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6446 - root_mean_squared_error: 0.3092 - val_loss: 0.7144 - val_root_mean_squared_error: 0.3597
Epoch 51/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6455 - root_mean_squared_error: 0.3100 - val_loss: 0.7147 - val_root_mean_squared_error: 0.3598
Epoch 52/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6427 - root_mean_squared_error: 0.3079 - val_loss: 0.7151 - val_root_mean_squared_error: 0.3600
Epoch 53/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6437 - root_mean_squared_error: 0.3087 - val_loss: 0.7154 - val_root_mean_squared_error: 0.3602
Epoch 54/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6435 - root_mean_squared_error: 0.3085 - val_loss: 0.7156 - val_root_mean_squared_error: 0.3604
Epoch 55/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6437 - root_mean_squared_error: 0.3085 - val_loss: 0.7161 - val_root_mean_squared_error: 0.3607
Epoch 56/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6408 - root_mean_squared_error: 0.3064 - val_loss: 0.7164 - val_root_mean_squared_error: 0.3609
Epoch 57/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6435 - root_mean_squared_error: 0.3086 - val_loss: 0.7166 - val_root_mean_squared_error: 0.3610
Epoch 58/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6430 - root_mean_squared_error: 0.3081 - val_loss: 0.7169 - val_root_mean_squared_error: 0.3612
Epoch 59/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6443 - root_mean_squared_error: 0.3091 - val_loss: 0.7172 - val_root_mean_squared_error: 0.3613
Epoch 60/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6427 - root_mean_squared_error: 0.3079 - val_loss: 0.7174 - val_root_mean_squared_error: 0.3615
Epoch 61/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6422 - root_mean_squared_error: 0.3074 - val_loss: 0.7177 - val_root_mean_squared_error: 0.3616
Epoch 62/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6419 - root_mean_squared_error: 0.3073 - val_loss: 0.7178 - val_root_mean_squared_error: 0.3617
Epoch 63/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6427 - root_mean_squared_error: 0.3079 - val_loss: 0.7181 - val_root_mean_squared_error: 0.3619
Epoch 64/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6420 - root_mean_squared_error: 0.3074 - val_loss: 0.7183 - val_root_mean_squared_error: 0.3620
Epoch 65/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6419 - root_mean_squared_error: 0.3073 - val_loss: 0.7186 - val_root_mean_squared_error: 0.3622
Epoch 66/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6427 - root_mean_squared_error: 0.3078 - val_loss: 0.7189 - val_root_mean_squared_error: 0.3624
Epoch 67/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6429 - root_mean_squared_error: 0.3080 - val_loss: 0.7191 - val_root_mean_squared_error: 0.3625
Epoch 68/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6405 - root_mean_squared_error: 0.3062 - val_loss: 0.7193 - val_root_mean_squared_error: 0.3626
Epoch 69/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6408 - root_mean_squared_error: 0.3065 - val_loss: 0.7196 - val_root_mean_squared_error: 0.3628
Epoch 70/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6426 - root_mean_squared_error: 0.3079 - val_loss: 0.7199 - val_root_mean_squared_error: 0.3630
Epoch 71/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6431 - root_mean_squared_error: 0.3083 - val_loss: 0.7201 - val_root_mean_squared_error: 0.3631
Epoch 72/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6422 - root_mean_squared_error: 0.3076 - val_loss: 0.7203 - val_root_mean_squared_error: 0.3632
Epoch 73/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6413 - root_mean_squared_error: 0.3069 - val_loss: 0.7206 - val_root_mean_squared_error: 0.3634
Epoch 74/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6423 - root_mean_squared_error: 0.3077 - val_loss: 0.7209 - val_root_mean_squared_error: 0.3636
Epoch 75/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6416 - root_mean_squared_error: 0.3071 - val_loss: 0.7211 - val_root_mean_squared_error: 0.3637
Epoch 76/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6404 - root_mean_squared_error: 0.3063 - val_loss: 0.7213 - val_root_mean_squared_error: 0.3638
Epoch 77/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6433 - root_mean_squared_error: 0.3083 - val_loss: 0.7214 - val_root_mean_squared_error: 0.3639
Epoch 78/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6394 - root_mean_squared_error: 0.3055 - val_loss: 0.7217 - val_root_mean_squared_error: 0.3640
Epoch 79/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6411 - root_mean_squared_error: 0.3068 - val_loss: 0.7218 - val_root_mean_squared_error: 0.3641
Epoch 80/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6414 - root_mean_squared_error: 0.3070 - val_loss: 0.7219 - val_root_mean_squared_error: 0.3642
Epoch 81/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6392 - root_mean_squared_error: 0.3052 - val_loss: 0.7220 - val_root_mean_squared_error: 0.3642
Epoch 82/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6385 - root_mean_squared_error: 0.3048 - val_loss: 0.7221 - val_root_mean_squared_error: 0.3643
Epoch 83/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6404 - root_mean_squared_error: 0.3063 - val_loss: 0.7223 - val_root_mean_squared_error: 0.3644
Epoch 84/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6407 - root_mean_squared_error: 0.3064 - val_loss: 0.7224 - val_root_mean_squared_error: 0.3645
Epoch 85/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6394 - root_mean_squared_error: 0.3054 - val_loss: 0.7226 - val_root_mean_squared_error: 0.3646
Epoch 86/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6410 - root_mean_squared_error: 0.3067 - val_loss: 0.7227 - val_root_mean_squared_error: 0.3646
Epoch 87/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6412 - root_mean_squared_error: 0.3069 - val_loss: 0.7230 - val_root_mean_squared_error: 0.3648
Epoch 88/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6402 - root_mean_squared_error: 0.3060 - val_loss: 0.7230 - val_root_mean_squared_error: 0.3648
Epoch 89/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6399 - root_mean_squared_error: 0.3058 - val_loss: 0.7232 - val_root_mean_squared_error: 0.3649
Epoch 90/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6413 - root_mean_squared_error: 0.3069 - val_loss: 0.7233 - val_root_mean_squared_error: 0.3650
Epoch 91/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6417 - root_mean_squared_error: 0.3072 - val_loss: 0.7235 - val_root_mean_squared_error: 0.3651
Epoch 92/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6399 - root_mean_squared_error: 0.3058 - val_loss: 0.7238 - val_root_mean_squared_error: 0.3653
Epoch 93/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6409 - root_mean_squared_error: 0.3065 - val_loss: 0.7240 - val_root_mean_squared_error: 0.3654
Epoch 94/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6419 - root_mean_squared_error: 0.3074 - val_loss: 0.7242 - val_root_mean_squared_error: 0.3655
Epoch 95/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6396 - root_mean_squared_error: 0.3057 - val_loss: 0.7244 - val_root_mean_squared_error: 0.3657
Epoch 96/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6401 - root_mean_squared_error: 0.3060 - val_loss: 0.7247 - val_root_mean_squared_error: 0.3658
Epoch 97/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6382 - root_mean_squared_error: 0.3047 - val_loss: 0.7248 - val_root_mean_squared_error: 0.3659
Epoch 98/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6393 - root_mean_squared_error: 0.3056 - val_loss: 0.7250 - val_root_mean_squared_error: 0.3660
Epoch 99/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6421 - root_mean_squared_error: 0.3076 - val_loss: 0.7251 - val_root_mean_squared_error: 0.3661
Epoch 100/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6416 - root_mean_squared_error: 0.3070 - val_loss: 0.7251 - val_root_mean_squared_error: 0.3661

In [ ]:
place_df = tourism_with_id
df = tourism_rating

 
# User Sample
id_user = df.id_user.sample(1).iloc[0]
place_visited_by_user = df[df.id_user == id_user]

In [ ]:
place_not_visited = place_df[~place_df['id_attraction'].isin(place_visited_by_user.id_attraction.values)]['id_attraction']
place_not_visited = list(
    set(place_not_visited)
    .intersection(set(place_to_place_encoded.keys()))
)
 
place_not_visited = [[place_to_place_encoded.get(x)] for x in place_not_visited]
user_encoder = user_to_user_encoded.get(id_user)
user_place_array = np.hstack(
    ([[user_encoder]] * len(place_not_visited), place_not_visited)
)

In [ ]:
ratings = model.predict(user_place_array).flatten()

13/13 [==============================] - 0s 2ms/step

In [ ]:
top_ratings_indices = ratings.argsort()[-10:][::-1]
recommended_place_ids = [
    place_encoded_to_place.get(place_not_visited[x][0]) for x in top_ratings_indices
]

In [ ]:
print('Showing recommendations for users: {}'.format(id_user))
print('place with high ratings from user')
print('----' * 8)

top_place_user = (
    place_visited_by_user.sort_values(
        by = 'rating',
        ascending=False
    )
    .head(5)
    .id_attraction.values
)

place_df_rows = place_df[place_df['id_attraction'].isin(top_place_user)]
for row in place_df_rows.itertuples():
    print(row.name_attraction)
 
print('----' * 8)
print('Top 10 place recommendation')
print('----' * 8)

recommended_place = place_df[place_df['id_attraction'].isin(recommended_place_ids)]
for row in recommended_place.itertuples():
    print(row.name_attraction)

Showing recommendations for users: 268
place with high ratings from user
--------------------------------
Perpustakaan Nasional
Monumen Serangan Umum 1 Maret
Bunker Kaliadem Merapi
Curug Luhur Waterfall
Saloka Theme Park
--------------------------------
Top 10 place recommendation
--------------------------------
Monumen Nasional
Atlantis Water Adventure
Museum Bank Indonesia
Wisata Agro Edukatif Istana Susu Cibugary
Bukit Moko
Masjid Agung Trans Studio Bandung
Puspa Iptek Sundial
Sanghyang Heuleut
Bukit Jamur
Keraton Surabaya

## Save Model

In [ ]:
# ## .H5

# model.save_weights("model.h5")

In [ ]:
model.save('saved_model/my_model')

export_dir = 'saved_model/1'
tf.saved_model.save(model, export_dir)

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.
WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

In [ ]:
export_dir = 'saved_model/1'

tf.saved_model.save(model,export_dir=export_dir)

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

In [ ]:
# Convert the model.
converter = tf.lite.TFLiteConverter.from_saved_model(export_dir)
tflite_model = converter.convert()

# Save the model.
with open('model.tflite', 'wb') as f:
  f.write(tflite_model)

## Download the Model

In [ ]:
try:
    from google.colab import files
    files.download(tflite_model_file)
except:
    pass